<div class="container flexbox">
<h1>Cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>
<div class="container flexbox">
  <%= form_for(@cocktail) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <br>
    <%= f.submit %>
  <% end %>
  <br>
  <%= link_to "Back to list", cocktails_path, class: "btn btn-primary"%>
</div>
</div>

